@model AuctionApp.Models.Auctions.AuctionDetailsVm

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Auction Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <b>Auction Name</b>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            <b>Auction Description</b>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            <b>Starting Price</b>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            <b>Ends At</b>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Place bid", "CreateBid", new { id = Model.Id })
</div>
<p/>
<div>
    <h4>Bids</h4>
    <table class="table">
        <thead>
        <tr>
            <th>
                <b>Amount</b>
            </th>
            <th>
                <b>Bidder</b>
            </th>
            <th>
                <b>Date</b>
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.BidVms)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem =>item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem =>item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem =>item.Date)
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index">Back To Ongoing Auctions</a>
</div>
