@model IEnumerable<AuctionApp.Models.Auctions.AuctionVm>

@{
    ViewData["Title"] = "Index";
}

<h1>Ongoing Auctions</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            <b>Auction Name</b>
        </th>
        <th>
            <b>Auction Description</b>
        </th>
        <th>
            <b>Starting Price</b>
        </th>
        <th>
            <b>Ends At</b>
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.Id })
        </td>
    </tr>
}
    </tbody>
</table>
